go 1.18

use (
	./config
	./crypto
	./db
	./es
	./etcd
	./eventbus
	./evolve
	./jwt
	./kafka
	./log
	./mongo
	./nats
	./net
	./pulsar
	./redis
	./shortcode
	./snowflake
	./web
	./httpclient
	./example
	./websocket
	./kubernetes
	./email
	./gin
)
